@import './global.css';

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block-start: 5px;
    background-color: var(--color-light-gray);
    position: fixed;
}

.header .button{
    background-color: var(--color-blue);
    font-family: "Inter";
    font-weight: 600;
}

.header .button:hover{
    background-color: var(--color-light-blue);
    transition: background 150ms ease-in-out;
}

.backImg {
    max-width: 100%;
}

#hero {
    max-width: 100%;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    font-family: 'Open Sans';
    justify-content: center;
    row-gap: 20px;
    column-gap: 40px;
}

@media (max-width:1200px) {
    .cards {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    font-family: 'Open Sans';
    justify-content: center;
    row-gap: 20px;
    column-gap: 40px;
    }
}

@media (max-width:740px) {
    .cards {
    display: grid;
    grid-template-columns: 75%;
    font-family: 'Open Sans';
    justify-content: center;
    row-gap: 20px;
    column-gap: 40px;
    }
}

.card {
    max-width: 100%;
    background: hsla(235, 84%, 46%, 1);
    background: linear-gradient(200deg, hsla(235, 84%, 46%, 1) 15%, rgb(80, 169, 205) 100%, hsla(212, 55%, 50%, 1) 100%);
    background-color: var(--color-light-blue);
    border-radius: 24px;
    text-align: center;
    padding: 25px;
}

.card .button {
    color: hsla(0, 0%, 0%, 0.632);
    margin-block-start: 10px;
    background-color: var(--color-light-gray);
}

.card .button:hover {
    color: var(--color-blue);
    transition: background 150ms ease-in-out;

}

.card_img {
    border-radius: 50%;
    margin-block: 15px;
}

#students {
    margin-block-end: 1.5rem;
}

.h1 {
    color: black;
    padding-block-start: 10px;
    text-align: center;
    line-height: 2rem;
}

hr {
    width: 50%;
    margin-block: 20px 40px;
}

.footer {
    margin-top: 30px;
    background-color: var(--color-blue);
    text-align: end;
    padding-block: 20px;
    padding-inline-end: 10px;
}